!!!
%html
  %head
    %title little
    %style(type="text/stylesheet"){:src => "/assets/application.css"}
  %body
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    %script(type="text/javascript" src="/assets/application.js")